<div class="banner">
  <div class="gradient"></div>
  <% if @category.image.present? %>
    <%= image_tag "#{@category.image}", class: "mainpage-banner-img" %>
  <% elsif @category.bookmarks.exists? %>
    <% first_bookmark = @category.bookmarks.first %>
      <%= image_tag first_bookmark.recipe.image_url, class: "img card-image" %>
  <% elsif @category.default_image.present? %>
    <%= image_tag "#{@category.default_image}", class: "mainpage-banner-img" %>
  <% else %>
    <%= image_tag "#{default_category_image(@category.name)}", class: "mainpage-banner-img" %>
  <% end %>
  <div class="banner-content">
    <h1><%= @category.name %></h1>
    <p>See all the delicious meals below</p>
  </div>
</div>


<div class="container">
  <div class="list">
    <% @bookmarks.each do |bookmark| %>
      <div class="show-card">
        <%= image_tag "#{bookmark.recipe.image_url}", class: "show-card-image" %>
        <div class="show-card-contents">
          <h3><strong><%= bookmark.recipe.name %></strong></h3>
          <p><%= bookmark.comment %></p>
          <%# <p><%= bookmark.recipe.description %></p>
          <%= link_to "ðŸ—‘ï¸", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "button-delete" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= link_to 'Add Bookmark', new_category_bookmark_path(@category), class: "button" %>
<h2>Reviews</h2>
<div class="reviews-container">
  <div class="reviews-list">
  <% @reviews.each do |review| %>
    <%  if review.valid? %>
      <div class="review">
        <p><%= 'â­ï¸' * review.rating %>:
        <%= review.content %>
        <%# <% raise %>
        <%# <%= link_to "Delete", review_path(review), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></p>
      </div>
    <% end %>
  <% end %>
  </div>
  <div class="form">
    <%= simple_form_for [@category, @category.reviews.new] do |f| %>
      <div class="star-rating">
        <% 5.downto(1) do |i| %>
          <%= f.radio_button :rating, i, id: "star#{i}" %>
          <label for="star<%= i %>" title="<%= i %> stars">
          &#9733;
          </label>
        <% end %>
      </div>
      <%= f.input :content, as: :text, label: false, placeholder: "Your Review" %>
      <%# <%= f.input :rating, as: :select, collection: 0..5, label: "Rating (0 to 5)" %>
      <%= f.button :submit, "Submit Review", class: "button-submit" %>
    <% end %>
  </div>
</div>
<%# <%= link_to "Add a Review", new_category_review_path(@category) %>
<%# <%= link_to "See All Categories", categories_path, class: "button" %>
<%# <%= link_to "Delete", category_path(@category), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
